@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.Title {
    background-color: violet;
    border: 2px dashed black;
    font-family: Delicious Handrawn;
}

.Box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#TileContent {
    text-align: center;
}